	

	/*General styles*/
	
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
	}

	:root {
	
		--main-color : #50b7f5;
		--bg-color : #e6ecf0;
	}	


	/* ::: LAYOUT ::: */

	.layout {
		display: grid;
		grid-template-columns: /*sidebar*/ 275px /*content*/ auto /*widgets*/ 350px;
	}	

	.layout__widgets {
		position: fixed;
	}

	/* /// LAYOUT ::: */



